@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
*{
   font-family: "Inter", sans-serif;
  @apply box-border transition-all duration-200
}
body {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.padding{
  @apply px-4 sm:px-6 md:px-8 lg:px-10
}
h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  font-weight: bold;
  @media (max-width: 1024px) {
    font-size: 36px;  }
}
h2 {
  font-size: 36px;
  letter-spacing: -0.24px;
  font-weight: bold;
  @media (max-width: 1024px) {
    font-size: 24px;
  }
}
.text_gradient {
  background: linear-gradient(90deg, #632EE3, #9F62F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav a{
    margin-right: 8px;
    padding: 5px 10px;
}
nav a.active{
    border-bottom: 2px solid #632EE3;
    @apply transition-colors duration-200 font-semibold text-[#632EE3]
}
.btn1{
  @apply inline-flex items-center gap-2 px-4 py-2 rounded cursor-pointer font-semibold
}